*{
    color: white;
    background-color: black;
    font-family: courier, arial, helvetica;
}

h1{
    font-size: 60px;
}

details {
    display: block;
    font-size: 20px;
}

div.text {
    background-color: #000000;
    color: white;
    font-size: 22px;
    padding: 16px 32px;
}

img.primeira {
    opacity: 1;
    display: block;
    transition: .5s ease;
    width: 40%;
    backface-visibility: hidden;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
    backface-visibility: hidden;
}

img.segunda{
    border-radius: 50%;
    width: 600px;
    height: 400px;
}

div.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
  }
  
.container:hover .primeira {
    opacity: 0.3;
}
  
.container:hover .middle {
    opacity: 1;
}

div.container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

hr{
    border: 2px solid white;
    border-radius: 5px;
    width: 75%;
}

div.segunda{
    height: 400px;;
    text-align: center;
    vertical-align:auto;
    align-items: center;
    font-size: 25px;
}
div.tube{
    text-align: center;
    font-size: 35px;
}